<%= render 'layouts/header' %>

<div class="main top-main">
  <div class="top-title">
    <h2>DinnerCalendar</h2>
  </div>
  <div class="top-choice">
    <ul>
    <a href="/posts"><li>母として利用する / Using As Mother</li></a>
    <a href="/posts/admin"><li>息子として利用する / Using As Son</li></a>
    </ul>
  </div>
</div>
