
<div class="main top-main">
  <div class="top-message">
    <h2>DinnerCalender</h2>
    <p>晩御飯の要らない日をつたえよう！</p>
  </div>
  <div class="top-choice">
    <a href="/posts" class="btn-circle-border-simple">母</a>
    <p>or</p>
    <a href="/posts/admin" class="btn-circle-border-simple">息子</a>
    <p>？</p>
  </div>
</div>