<%= render 'layouts/header' %>
<div class="main top-main">
  <div class="top-title">
    <h2>DinnerCalendar</h2>
  </div>
  <div class="top-choice">
    <ul>
    <li><a href="/posts">母として利用する / Using As Mother</a></li>
    <li><a href="/posts/admin">息子として利用する / Using As Son</a></li>
    </ul>
  </div>
</div>