<%= render 'layouts/header' %>
<div class="main top-main">
  <div class="top-title">
    <h2>DinnerCalendar</h2>
  </div>
  <div class="top-choice">
    <a href="/posts" class="btn-circle-border-simple">母として利用</a>
    <p>or</p>
    <a href="/posts/admin" class="btn-circle-border-simple">息子として利用</a>
    <p>？</p>
  </div>
</div>