<p id="notice"><%= notice %></p>

<h1>カレンダー</h1>

<br>

<%= month_calendar events: @posts do |date, posts| %>
  <%=  date  %>
  
  <% if posts.blank? && date > Date.today && @count > Post.count%>
    <div>
      未定
    </div>
  <% elsif posts.blank? && date > Date.today && @count <= Post.count %>
    <div>
      ○
    </div>
  <% else %>
    <% posts.each do |post| %>
      <% @count += 1 %>
      <div>
        <%= post.content %>
      </div>
    <% end %>

  <% end %>

<% end %>
