/* ヘッダー ================================ */
header {
  height: 94px;
  background-color: #FFFFFF;
  border-bottom: medium solid #E3DCCA;
  padding-top: 64px;
}

header a:-webkit-any-link {
  color: gray;
}

.header-menus {
  float: right;
  margin-right: 16px;
}

.header-menus a {
  float: left;
  font-size: 44px;
  padding: 0 21px;
  border-left: medium solid gray;
}