// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* admin.html */
.theme p{
  position: relative;
	top: 240px;
  margin-bottom: 250px;
	font-size: 100px;
	color: white;
	margin-top: 0px;
	white-space: nowrap
}

span{
	font-size: 100px;
}

.table-striped{
	margin-top: 20px;
}

.calendar-heading{
	text-align: center;
	margin-top: 50px;
}

.calendar-heading a:link {text-decoration: none;}
.calendar-heading a:visited {text-decoration: none;}
.calendar-heading a:hover {background: #BDE2F7;text-decoration: none;}
.calendar-heading a:active {text-decoration: none;}

/*_form.html */
.time{
	border-bottom: medium solid #FF9833;
	padding: 32px 0;
}
.time .arrow{
	font-size: 40px;
}

.time select{
	font-size: 48px;
	width: 128px;
}

#post_start_time_1i{
	margin-left: 32px;
}

/* _header.html */
header .new-schedule{
	color: #FF8B1A;
	font-size: 54px;
	padding: 16px 0;

}

header .cancel{
	color: #FF8B1A;
	font-size: 42px;
	margin: 0 108px 0 32px;
}

a:-webkit-any-link {
	text-decoration: none;
}
