// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* admin.html, index.html */

.calendar-title{
	position: absolute;
	top: 59px;
	left: 32px;
	color: #FF9833;
}

span{
	font-size: 100px;
}

.table-striped{
	margin-top: 20px;
}

.calendar-heading{
	border-top: medium solid #E3DCCA;
	width:100%;
	background-color: #ffffff;
	position: absolute;
	bottom: 0px;
}

.footer-menu {
	padding-bottom: 32px;
	text-align: center;
	font-size:74px;
	padding-top: 18px;
}

.footer-menu a:-webkit-any-link {
    color: #808080;
}

.calendar-heading a:link {text-decoration: none;}
.calendar-heading a:visited {text-decoration: none;}
.calendar-heading a:hover {text-decoration: none;}
.calendar-heading a:active {text-decoration: none;}

.content{
	padding: 49px 0px;
	font-size: 50px;
  }
  
.comment{
	font-size: 35px;
	margin-bottom: 26px;
}

a:-webkit-any-link {
	color: #401B01;
}

/*_form.html */
.time{
	border-bottom: medium solid #FF9833;
	padding: 32px 0;
}

.time .end-time{
	margin-top: 32px;
}

.time .arrow{
	font-size: 40px;
	margin-left: 32px;
	color: #FF9833;
}

.time select{
	font-size: 48px;
	width: auto;
}

#post_start_time_1i{
	margin-left: 32px;
}
.field{
	border-bottom: medium solid #FF9833;
	padding: 32px 0;
}

.field .title{
	margin-left: 32px;
	font-size: 32px;
}

.actions{
	position: absolute;
	top: 64px;
	right: 32px;
}

input[type="submit" i] {
	color: #FF9833
}

.field select{
	font-size: 54px;
	height: 74px;
}

/* _header.html */

header{
	z-index: 0;
	position: relative;
}

header .cancel{
	color: #FF8B1A;
	font-size: 42px;
	margin: 0 108px 0 32px;
}

a:-webkit-any-link {
	text-decoration: none;
}

/* new.html, edit.html */

.header-title{
	color: #FF8B1A;
	font-size: 54px;
	padding: 16px 0;
	position: absolute;
	left: 36%;
	top: 42px;

}