// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theme p{
  position: relative;
	top: 240px;
  margin-bottom: 250px;
	font-size: 100px;
	color: white;
	margin-top: 0px;
}

span{
	font-size: 100px;
}

.table-striped{
	margin-top: 20px;
}

.calendar-heading{
	text-align: center;
	margin-top: 50px;
}

.calendar-heading a:link {text-decoration: none;}
.calendar-heading a:visited {text-decoration: none;}
.calendar-heading a:hover {background: #BDE2F7;text-decoration: none;}
.calendar-heading a:active {text-decoration: none;}